<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hexagone Cooking</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style2.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/chef.png') }}" >

  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
          <div class="col-md-2"></div>
            <div class="col-md-8">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <h1><font color="white" face="helvetica">Cooking with Hexagone</font></h1>
              <form method="post" action="{{ url_for('index') }}">
                <div id="custom-search-input">
                    <div class="input-group">
                      
                        <input type="text" class="form-control input-lg" placeholder="Search" name="search"/>
                       <span class="input-group-btn">
                            <button class="btn btn-lg" type="submit" >
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                        
                    </div>
                  </div> 
                  </form> 
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="col-md-10"></div>
          <div class="col-md-2"><font color="white" face="helvetica">© Hexagone</font></div>
        </div>
	    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>